<a href="https://colab.research.google.com/github/chw8207/python_study/blob/main/%EA%B8%B0%EB%B3%B8_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### FizzBuzz구현하기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 1부터 100까지 숫자 출력
# 3의 배수일 때는 Fizz 출력
# 5의 배수일 때는 Buzz 출력
# 3과 5의 공배수일 때는 FizzBuzz 출력
for i in range(1, 101) : 
  if i%3==0 : 
    if i%5==0 : 
      print('FizzBuzz', end=' ')
    else : 
      print('Fizz', end=' ')
  elif i%5==0 : 
    print('Buzz', end=' ')
  else : 
    print(i, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

### 자판기에서 거스름돈 계산하기

In [ ]:
# 투입금액, 구매한 상품 구매 입력하는 화면 표시
# 금액 입력하면 거스름돈을 계산하여 결과 표시
insert_price = input('insert: ')               # 투입 금액
product_price = input('product: ')             # 상품 금액
change = int(insert_price)-int(product_price)  # 거스름돈 계산
print(change)

insert: 10000
product: 2362
7638

In [ ]:
# 거스름돈 금액 구하기
insert_price = input('insert: ')
product_price = input('product: ')
change = int(insert_price)-int(product_price)

# 5000원 지폐 매수 구하기
r5000 = change//5000
q5000 = change%5000
print('5000: ' + str(r5000))

# 1000원 지폐 매수 구하기
r1000 = q5000//1000
q1000 = q5000%1000
print('1000: ', str(r1000))

# 500원 동전 개수 구하기
r500 = q1000//500
q500 = q1000%500
print('500: ', str(r500))

# 100원 동전 개수 구하기
r100 = q500//100
q100 = q500%100
print('100: ', str(r100))

# 50원 동전 개수 구하기
r50 = q100//50
q50 = q100%50
print('50: ', str(r50))

# 10원 동전 개수 구하기
r10 = q50//10
q10 = q50%10
print('10 :', str(r10))

# 5원 동전 개수 구하기
r5 = q10//5
q5 = q10%5
print('5 :', str(r5))

# 1원 동전 개수 구하기
print('1: ', str(q5))

insert: 10000
product: 2362
5000: 1
1000:  2
500:  1
100:  1
50:  0
10 : 3
5 : 1
1:  3

In [ ]:
# 리스트와 반복문으로 간단하게 만들기
insert_price = input('insert: ')
product_price = input('product: ')
change = int(insert_price)-int(product_price)

# 지폐 및 동전 단위를 요소로 설정한 리스트 만들기
coin = [5000,1000,500,100,50,10,5,1]

for i in coin : 
  r = change//i
  change %= i
  print(str(i) + ': ' + str(r))

insert: 10000
product: 2362
5000: 1
1000: 2
500: 1
100: 1
50: 0
10: 3
5: 1
1: 3

In [ ]:
# 예외처리 반영(정수가 아닐 경우, 음수일 경우)
import sys

input_price = input('insert: ')
if not input_price.isdecimal() : 
  print('정수를 입력하세요')
  sys.exit()  # 에러가 발생하면 강제로 종료

product_price = input('product: ')
if not product_price.isdecimal() : 
  print('정수를 입력하세요')
  sys.exit()

change = int(input_price)-int(product_price)
if change<0 : 
  print('금액이 부족합니다.')
  sys.exit()

coin = [5000,1000,500,100,50,10,5,1]
for i in coin : 
  r = change//i
  change%=i
  print(str(i),': ', str(r))

insert: 10,000
정수를 입력하세요

SystemExit: ignored

In [ ]:
# divmod() : 몫과 나머지 쌍으로 돌려주는 함수
# 다른 프로그래밍 언어에서 사용할 수 없는 경우도 있어서 주의
input_price = input('insert: ')
product_price = input('product: ')
change = int(input_price)-int(product_price)

coin = [5000,1000,500,100,50,10,5,1]

for i in coin : 
  r, change = divmod(change, i)
  print(str(i), ': ', str(r))

insert: 10000
product: 2376
5000 :  1
1000 :  2
500 :  1
100 :  1
50 :  0
10 :  2
5 :  0
1 :  4

###기수변환

In [3]:
# 10진수를 2진수로 변환
n = 18

result = ''
while n>0 : 
  result = str(n%2) + result  # 나머지를 문자열의 왼쪽에 추가해 나감
  n//=2

print(result)

10010

In [ ]:
# 기수를 지정해 변환
n = 18

def convert(n, base) : 
  result = ''
  while n>0 : 
    result = str(n%base) + result
    n//base
  return result

print(convert(n,2))
print(convert(n,3))
print(convert(n,8))

In [7]:
# 2진수를 10진수로 변환하기
n = '10010'

result = 0

for i in range(len(n)) : 
  result += int(n[i])*(2**(len(n)-i-1))
print(result)

18

In [8]:
# 10진수를 2진수로 변환 : bin()
# 2진수를 10진수로 변환 : int(a, 2)
a = 18
print(bin(a))
print(type(a))

0b10010
<class 'int'>

In [9]:
b = '10010'
print(int(b,2))
print(type(b))

18
<class 'str'>

In [10]:
a = 0b10010
print(a)
print(type(a))

18
<class 'int'>

In [11]:
# 비트 연산
# 비트 반전
a = 0b10010
print(bin(~a))

In [13]:
# 논리곱
b = 0b11001
print(bin(a&b))

0b10000

In [14]:
# 논리합
print(bin(a|b))

0b11011