<a href="https://colab.research.google.com/github/chw8207/python_study/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 10억의 지수 표현 방식
a = 1e9
print(a)

# 752.5
a = 75.25e1
print(a)

# 3.954
a = 3954e-3
print(a)

1000000000.0
752.5
3.954

### 리스트 자료형

In [4]:
# 코딩테스트에서 자주 쓰이는 리스트 초기화
# 크기가 n이고 모든 값이 0인 1차원 리스트 초기화
n = 10
a = [0]*n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
# 리스트 컴프리헨션
# 0부터 19까지의 수 중에서 홀수만 포함하는 리스트
array = [i for i in range(20) if i%2!=0]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]