<a href="https://colab.research.google.com/github/chw8207/python_study/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 10억의 지수 표현 방식
a = 1e9
print(a)

# 752.5
a = 75.25e1
print(a)

# 3.954
a = 3954e-3
print(a)

1000000000.0
752.5
3.954

### 리스트 자료형

In [4]:
# 코딩테스트에서 자주 쓰이는 리스트 초기화
# 크기가 n이고 모든 값이 0인 1차원 리스트 초기화
n = 10
a = [0]*n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
# 리스트 컴프리헨션
# 0부터 19까지의 수 중에서 홀수만 포함하는 리스트
array = [i for i in range(20) if i%2!=0]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [6]:
# 1부터 9까지의 수의 제곱값을 포함하는 리스트
array = [i**2 for i in range(1,10)]
print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
# N X M 크기의 2차원 리스트 초기화하기
n = 3
m = 4
array = [[0]*m for _ in range(n)]
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [16]:
# 리스트 관련 메서드
a = [1, 4, 3]
print('기본 리스트: ', a)

# 리스트에 원소 삽입
a.append(2)
print('삽입: ', a)

# 오름차순 정렬
a.sort()
print('오름차순 정렬: ', a)

# 내림차순 정렬
a.sort(reverse = True)
print('내림차순 정렬: ', a)

# 리스트 원소 뒤집기
a.reverse()
print('원소 뒤집기: ', a)

# 특정 인덱스에 데이터 추가 : insert(삽입할 위치 인덱스, 삽입할 값)
a.insert(2, 3)
print('인덱스 2에 3 추가: ', a)

# 특정 값인 데이터 개수 세기
print('값이 3인 데이터 개수: ', a.count(3))

# 특정 값 데이터 삭제
a.remove(1)
print('값이 1인 데이터 삭제: ', a)

기본 리스트:  [1, 4, 3]
삽입:  [1, 4, 3, 2]
오름차순 정렬:  [1, 2, 3, 4]
내림차순 정렬:  [4, 3, 2, 1]
원소 뒤집기:  [1, 2, 3, 4]
인덱스 2에 3 추가:  [1, 2, 3, 3, 4]
값이 3인 데이터 개수:  2
값이 1인 데이터 삭제:  [2, 3, 3, 4]

In [18]:
# 시간 복잡도 줄이는 방법!
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

# remove_set에 포함되지 않은 값만 저장하기
result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

### 문자열 자료형

In [19]:
# 문자열 안에 큰따옴표나 작은따옴표 포함되는 경우
data = "Dont't you know \"Python\"?"
print(data)

Dont't you know "Python"?

### 사전 자료형

In [20]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

In [21]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

if '사과' in data : 
  print("'사과'를 키로 가지는 데이터가 존재합니다.")

'사과'를 키로 가지는 데이터가 존재합니다.

In [25]:
# 사전 자료형 관련 함수
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

# 키 데이터만 담은 리스트
key_list = data.keys()
# 값 데이터만 담은 리스트
value_list = data.values()
print(key_list)
print(value_list)

# 각 키에 따른 값을 하나씩 출력
for key in key_list : 
  print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

### 집합 자료형
 - 특정한 데이터가 이미 등장한 적이 있는지 여부 체크할 때 유용

In [26]:
# 집합 자료형 초기화 방법 1 
# set() 함수 사용하기
data = set([1, 2, 3, 4, 4, 5])
print(data)

{1, 2, 3, 4, 5}

In [27]:
# 집합 자료형 초기화 방법 2
# {}안에 콤마(,)로 구분해서 넣기
data = {1, 2, 3, 4, 4, 5}
print(data)

{1, 2, 3, 4, 5}

In [28]:
# 집합 자료형의 연산
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])

print(a|b) # 합집합
print(a&b) # 교집합
print(a-b) # 차집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}