<a href="https://colab.research.google.com/github/chw8207/python_study/blob/main/%EC%A3%BC%EC%9A%94_%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 내장함수

In [2]:
# eval() : 수학 수식이 문자열 형식으로 들어오면 해당 수식을 계산한 결과를 반환
result = eval('(3+5)*7')
print(result)

56

In [3]:
result = sorted([('홍길동', 35), ('이순신', 75), ('아무개', 50)], key = lambda x : x[1],
                reverse = True)
print(result)

[('이순신', 75), ('아무개', 50), ('홍길동', 35)]

### itertools
 - 반복되는 데이터를 처리하는 기능을 포함한 라이브러리
 - permutations, combinations

In [4]:
# 리스트에서 3개를 뽑아 나열하는 모든 경우 출력
from itertools import permutations

# 데이터 준비
data = ['A', 'B', 'C']

# 모든 순열 구하기
result = list(permutations(data, 3))
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [6]:
# 리스트에서 2개를 뽑아 순서상관없이 나열하는 경우 출력
from itertools import combinations

# 데이터 준비
data = ['A', 'B', 'C']

# 조합 구하기
result = list(combinations(data, 2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]