<a href="https://colab.research.google.com/github/chw8207/python_study/blob/main/%EC%A3%BC%EC%9A%94_%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 내장함수

In [ ]:
# eval() : 수학 수식이 문자열 형식으로 들어오면 해당 수식을 계산한 결과를 반환
result = eval('(3+5)*7')
print(result)

56

In [ ]:
result = sorted([('홍길동', 35), ('이순신', 75), ('아무개', 50)], key = lambda x : x[1],
                reverse = True)
print(result)

[('이순신', 75), ('아무개', 50), ('홍길동', 35)]

### itertools
 - 반복되는 데이터를 처리하는 기능을 포함한 라이브러리
 - permutations, combinations

In [ ]:
# 리스트에서 3개를 뽑아 나열하는 모든 경우 출력
from itertools import permutations

# 데이터 준비
data = ['A', 'B', 'C']

# 모든 순열 구하기
result = list(permutations(data, 3))
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [ ]:
# 리스트에서 2개를 뽑아 순서상관없이 나열하는 경우 출력
from itertools import combinations

# 데이터 준비
data = ['A', 'B', 'C']

# 조합 구하기
result = list(combinations(data, 2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [ ]:
# product : 순열 계산(중복 허용)
# repeat : 뽑고자 하는 데이터 수 설정
from itertools import product

# 데이터 준비
data = ['A', 'B', 'C']

# 중복 허용한 순열 구하기
result = list(product(data, repeat=2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [ ]:
# combinations_with_replacement : 조합(중복 허용)
from itertools import combinations_with_replacement

# 데이터 준비
data = ['A', 'B', 'C']

# 중복 허용한 조합 구하기
result = list(combinations_with_replacement(data, 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

### heapq
 - 우선순위 큐 기능 구현할 때 사용

In [ ]:
# 힙(heap) 예제
import heapq

def heapsort(iterable) : 
  h = []
  result = []
  # 모든 원소를 차례대로 힙에 삽입
  for value in iterable : 
    heapq.heappush(h, value)
  # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
  for _ in range(len(h)) : 
    result.append(heapq.heappop(h))
  return result

result = heapsort([1, 3, 5, 7, 9, 2, 4, 6, 8, 0]) 
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 내림차순 힙 정렬 구현하기
import heapq

def heapsort(iterable) : 
  h = []
  result = []
  # 모든 원소를 차례대로 힙에 삽입
  for value in iterable : 
    heapq.heappush(h, -value)
  # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
  for _ in range(len(h)) : 
    result.append(-heapq.heappop(h))
  return result

result = heapsort([1, 3, 5, 7, 9, 2, 4, 6, 8, 0])
print(result)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### bisect
 - 이진탐색을 쉽게 구현할 수 있게 함
 - 정렬될 배열에서 특정한 원소를 찾아야 할 때 효과적임
 - bisect_left(a, x)
  - 정렬된 순서를 유지하면서 리스트 a에 데이터 x를 삽입할 가장 왼쪽 인덱스를 찾는 메서드
 - bisect_right(a, x)
  - 정렬된 순서를 유지하면서 리스트 a에 데이터 x를 삽입할 가장 오른쪽 인덱스를 찾는 메서드

In [ ]:
# bisect 예시
from bisect import bisect_left, bisect_right

a = [1, 2, 4, 4, 8]
x = 4

print(bisect_left(a, x))
print(bisect_right(a, x))

2
4

In [ ]:
from bisect import bisect_left, bisect_right

# 값이 [left_value, right_value]인 데이터의 개수를 반환하는 함수
def count_by_range(a, left_value, right_value) : 
  right_index = bisect_right(a, right_value)
  left_index = bisect_left(a, left_value)
  return right_index - left_index

# 리스트 선언
a = [1, 2, 3, 3, 3, 3, 4, 4, 8, 9]

# 값이 4인 데이터 개수 출력
print(count_by_range(a,4,4))

# 값이 [-1, 3] 범위에 있는 데이터 개수 출력
print(count_by_range(a, -1, 3))

2
6

### collections
 - deque, Counter
 - 원소 삽입할 때 : append() 
 - 원소 삭제할 때 : popleft()

In [2]:
# 예시코드(deque)
from collections import deque

data = deque([2, 3, 4])
# 가장 왼쪽에 원소 삽입
data.appendleft(1)
# 가장 오른쪽에 원소 삽입
data.append(5)

print(data)
# 리스트 자료형으로 변환
print(list(data))

deque([1, 2, 3, 4, 5])
[1, 2, 3, 4, 5]

In [5]:
# 예시코드(Counter)
from collections import Counter

counter = Counter(['red', 'blue', 'red', 'green', 'blue', 'blue'])

# 'blue'가 등장한 횟수 출력
print(counter['blue'])
# 'green'이 등장한 횟수 출력
print(counter['green'])
# 'red'가 등장한 횟수 출력
print(counter['red'])

3
1
2

### math

In [6]:
# 팩토리얼 함수
import math
print(math.factorial(5))

120