<a href="https://colab.research.google.com/github/chw8207/python_study/blob/main/%ED%95%A8%EC%88%98%26%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 인자 a, b를 지칭해서 값을 넣기
def add(a,b) : 
  print('함수의 결과:', a+b)

add(b=3, a=7)

함수의 결과: 10

In [5]:
# 함수 안에서 함수 밖의 데이터 변경하기 : global()
a = 0

def func() : 
  global a
  a += 1

for i in range(10) : 
  func()

print(a)

10

In [8]:
# 람다 표현식